body {
  background: #f5f5f5;
  height: 100vh;
  width: 100vw;
}

main {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 30% 25% 25%;
}
div {
  border-radius: 15px;
}
img {
  height: 80px;
}
.create {
  background-color: #faeee2;
  grid-row: 1/3;
  grid-column: 1/2;
}
.social {
  background-color: #7651dc;
  grid-column: 2/4;
  /* grid-column: 2/4; */
  /* grid-row: 1/2; */
}

.schedule {
  background-color: #dcd1fc;
  grid-column: 4/5;
  grid-row: 1/3;
}

.write {
  background-color: #ffcc69;
  grid-row: 2/4;
  grid-column: 1/2;
}

.manage {
  background-color: white;
  /* grid-column: 2/4; */
  /* grid-row: 2/3; */
}
.maintain {
  background-color: #ffcc69;
  /* grid-column: 3/4; */
}

.percent {
  background-color: white;
  grid-column: 2/3;
  grid-row: 3/3;
}

.grow {
  background-color: #7651dc;
  color: white;
  grid-column: 3/5;
}
